body{
/*hidden overflow makes it so that we only see one .card at a time*/
   overflow-x:hidden;
   font-family: 'Raleway', sans-serif;
   height: 100%;   
  
}

h1{
   font-size:3em;
   margin:3%;
   color:white;
   text-shadow: .08em .08em 0em rgba(0,0,0,0.2);
}
h2{
   
   margin:2%;
    color: white;
}
h3{
   font-size:.9em;
   margin:.7%;
}

hr{/* not sure the hr is necessary, but this margin gets us some extra 
breathing room when it is used*/
   margin:.7%;
}

#quiz-questions, #break-questions{
   /*Gets us some breathing room between questions */
   margin-top:2px;
   /* padding-left:3%; */
}
#quiz-questions li:last-child, #break-questions li:last-child{
/*eliminates trailing border on last questions*/
   border-bottom:none;
}
#swift-gen, #mood, #top-song, #break-up-main{
/*These nudge elements around in the main section to keep them from 
a)triggering the appearance of a scrollbar and b)to fit properly on a card. The
next few rules also do this.*/
   height:40%;
   margin-left: 5%;
   margin-right: 5%;
}
#swift-gen{
   height:30%;
}
#mood{
   height:50%;
}

#break-up-main{
   border-bottom:none;
   height:40%
}
/*end section positioning*/

/*To follow: keep the nav's float from pushing these over too far to the left 
to be considered centered*/
#top-song h1, #top-song select, #your-gen{ 
   position:relative;
}
#swift-gen h1:first-child{
   position:relative;
}
/*End nav float compensation*/

#swift-gen h1, #top-song h1, #break-up-main h1, #mood h1, #quiz-title h2, #extra #questions, #playlist, #trendlist{
   font-family: 'Raleway', sans-serif;
}
#trendlist {
   top: 3vh;
}
/*These are the rules that define a card*/
.card{
   height:97%;
   text-align:center;
   overflow-y:auto;
   overflow-x:hidden;
   background-color:rgba(150,150,150,.1);
   border-radius:18px;

}

.card-quiz{
    text-align: center;
    background-color: #FFEC8F;
    overflow-y:auto;
    overflow-x:hidden;
}
a{
   text-decoration:none;
   font-weight:bold;
   font-family: 'Philosopher', sans-serif;
}

.container-fluid{
        padding: 0;
    }

#page-1 {
    height: 100vh;
    width: 105%; 
    background: url("images/pink-city.jpg") fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   background-attachment:fixed;
    z-index:-2;
    animation: fadeIn 3s linear forwards;
   -webkit-animation: fadeIn 3s linear forwards;
   overflow-x:hidden;
    
}

#page-2 {
   top:200%;
   height: 100vh;
   width: 105%;
   background-color: rgba(0, 0, 0, 0.2);
   background-image: url("images/city.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: bottom;
   animation: fadeIn 3s ease forwards;
   -webkit-animation: fadeIn 3s ease forwards;
   z-index:2;
   position:relative;
   display:block;
   overflow-x:hidden;
    
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

#swift-gen h1 {
    font-size: 5vh;
    margin-bottom: 3vh;
    color: #779ECB;
}

#swift-gen h2 {
    font-size: 3vh;
    font-family: 'Abel', sans-serif;
}

#swift-gen mark {
   color: #d65656;
   background: transparent;
   font-weight: 800;
   font-family: 'Raleway', sans-serif;
}

#mood h1 {
   font-size: 4.5vh;
   margin-bottom: 3vh;
   color: #779ECB;
}

#mood h2 {
   font-size: 3vh;
   font-family: 'Abel', sans-serif;
}

#main-1 {
   margin-top:5%;
   background-color: rgba(0,0,0,.3);
   height: 90%;
   top:0;
   position:absolute;
   z-index:3;
   display:block;
}

#main-2 {
   background-color: rgba(0,0,0,.3);
   height: 90%;
   position:relative;
   margin-top:5%;

}

#top-song h1 {
   font-size: 5vh;
   color: #70a39c;
}

#break-up-main h1{
   font-size: 5vh;
   color: #70a39c;
}

#break-up-main mark{
   background: transparent;
   color: #ffa741;
   font-weight: 800;
}

#break-up-main h2 {
   font-size: 3vh;
   font-family: 'Abel', sans-serif;
}

#quiz-questions li:nth-child(even), #break-questions li:nth-child(even){
/*Zebra striping on list elements*/
   background-color:rgba(233, 37, 37, 0.17);/*this is kind of salmon-y pink*/
}

#trendlist li{
   color: white;
}

#trendlist li:nth-child(even){
   background-color: rgba(255, 167, 65, 0.29);
}



#playlist li{
   color: white;   
   list-style-type: none;
}


#playlist li:nth-child(even){
   background-color: color: rgba(112, 163, 156, 0.32);
}

#top-song {
   height: 40%
}

.btn-group {
   font-family: 'Raleway', sans-serif;
}

.collapsing{
   transition-duration:0s;
   -o-transition-duration:0s;
   -webkit-transition-duration:0s;
   webkit-transition-timing-function: ease;
   -o-transition-timing-function: ease;
   transition-timing-function: ease;
   display:none;
}

a.list-group-item:hover{
   cursor:default;
}
.list-group-item{
   background-color:transparent;
}
.list-group-item:nth-child(even){
   background-color:#fff2ff;
   background-opacity:.2;
  
}

.btn{
   border-width:0 1px 4px 1px;
   text-transform:small-caps;
   border-radius:5px;
}    
.btn:hover, .btn.active, .btn:active, .btn:focus{
   margin-top: 3px;
   padding-bottom:4px;
   border-bottom-width: 3px;
   margin-bottom:0;
}

.btn-lg:hover, .btn-lg.active, .btn-lg:active, .btn-lg:focus{
   margin-top: 2px;
   padding-bottom:7px;
   border-bottom-width: 5px;
   margin-bottom:0;
}

button .btn {
   text-transform:small-caps!important;
}

.btn a{
   color:white;
   text-decoration:none;
   outline:none;
}
#launcher{
   position:absolute; 
   top:45%;
}

#main{
   background-color:rgb(0, 0, 31);
   z-index:2;
   animation: fadeIn .2s linear forwards;
   -webkit-animation: myFadeIn .2s linear forwards;
}

#sharingIsProbablyNotCaring{
   position:fixed;
   top:10%;
   right:2%;
   z-index:3;
   height:10%;
   border:1px solid lavender;
}
@-webkit-keyframes fadeIn{
   from{
      opacity:0;
   }
   to{
      opacity:1;
   }
}
@keyframes myFadeIn{
   from{
      opacity:0;
   }
   to{
      opacity:1;
   }
}
    

