body{
/*hidden overflow makes it so that we only see one .card at a time*/
   overflow-x:hidden;
   height: 100%;
   background-color: rgb(115, 3, 3);/* dark red  rgb(166,32,69); /*dark pink*/
   font-family: 'Raleway', sans-serif;
   color:white;
}

.modal{
   -webkit-overflow-scrolling: touch;
   overflow-y: scroll;
}

h1{
   font-size:3em;
   margin:3%;
   text-shadow: .08em .08em 0em rgba(0,0,0,0.2);
}

h2{
   margin:2%;
    text-shadow: .08em .08em 0em rgba(0,0,0,0.2);
}

h3{
   font-size:.9em;
   margin:.7%;
}

#quiz-questions, #break-questions{
   /*Gets us some breathing room between questions */
   margin-top:2px;
   list-style: none;
   padding-left: 0;
   color: #ebebeb;/*light gray*/
   font-family: 'Nunito', sans-serif;
}

.modal-header  h1{
   font-family: 'Raleway', sans-serif;
   color: #ebebeb;
}

.modal-header h2{
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   color: #d9534f;/*reddish*/
   text-shadow: .07em .07em 0em #6d211f;
}
#quiz-questions h3, #break-questions h3{
   padding-top:2%;
   font-size: 1.2em;
   font-family: 'Hammersmith One', sans-serif;
   color: #ebebeb;/*light gray*//*#d9534f;/*reddish*/
   text-shadow: .07em .07em 0em #6d211f;
}

#top-song, #break-up-main{
   height:40%;
   margin-left: 5%;
   margin-right: 5%;
   border-bottom:none;
}
#swift-gen{
   height:30%;
}
#mood{
   height:50%;
}

#swift-gen h1, #top-song h1, #break-up-main h1, #mood h1, #playlist, #trendlist{
   font-family: 'Raleway', sans-serif;
}
#trendlist {
   top: 3vh;
   margin-top:3%;
}
/*These are the rules that define a card*/

.card-quiz{
   text-align: center;
   background-color: #2b3e50; /*navy */
   overflow-y:auto;
   overflow-x:hidden;
   padding-bottom:1%;
}

a{
   text-decoration:none;
   font-weight:bold;
   font-family: 'Raleway', sans-serif;
}

.container-fluid{
   padding: 0;
}

#page-1 {
   height: 100vh;
   width: 100%; 
   background: url("images/pink-city-a.jpg") fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment:fixed;
   z-index:-2;
   animation: fadeIn 2.5s linear forwards;
   -webkit-animation: fadeIn 2.5s linear forwards;
   overflow-x:hidden;
}

#page-2 {
   top:200%;
   height: 100vh;
   width: 100%;
   opacity:0;
   background-color: rgba(0, 0, 0, 0.2);
   background-image: url("images/city.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: bottom;
   animation: fadeIn 2.5s ease 1s forwards;
   -webkit-animation: fadeIn 2.5s ease 1s forwards;
   z-index:2;
   position:relative;
   display:block;
   overflow-x:hidden;
}

#page-2 h1 {
    color: #70a39c;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

#swift-gen h1 {
   font-size: 5vh;
   margin-bottom: 3vh;
   color: #87b6eb;
}

#swift-gen mark {
   color: #d65656;/*powdery reddish*/
   background: transparent;
   font-weight: 800;
   font-family: 'Raleway', sans-serif;
}

#mood h1 {
   font-size: 4.5vh;
   margin-bottom: 3vh;
   color: #779ECB; /*light blue*/
}

#mood h2, #break-up-main h2,  #swift-gen h2 {
   font-size: 3vh;
   font-family: 'Hammersmith One', sans-serif;
}

.card{
   text-align:center;
   overflow-y:auto;
   overflow-x:hidden;
   background-color: rgba(0,0,0,.4);
   height: 90%;
   border-radius:18px;
   margin-top:5%; 
}

#main-1 {
   top:0;
   position:absolute;
   z-index:3;
   display:block;
}

#top-song h1, #break-up-main h1{
   font-size: 5vh;
   color: #70a39c; /*aqua-ish*/
}

#break-up-main mark{
   background: transparent;
   color: #ffa741; /*pastel orange*/
   font-weight: 800;
}
#quiz-questions li, #break-questions li{
   padding-bottom:1%;
}
#quiz-questions li:nth-child(even), #break-questions li:nth-child(even){
   /*Zebra striping on list elements*/
   background-color: #4e5d6c; /*grayish bluish*/
}

/*Zebra striping on list elements*/
#trendlist li:nth-child(even){
   background-color: rgba(255, 167, 65, 0.29); /*orange*/
}

/*Zebra striping on list elements*/
#playlist li:nth-child(even){
   background-color: color: rgba(112, 163, 156, 0.32);/*light aqua*/
}

#top-song {
   height: 40%;
}

/*eliminates transition on collapses so we can fake hide/show toggle w/o JS*/
.collapsing{
   transition-duration:0s;
   -o-transition-duration:0s;
   -webkit-transition-duration:0s;
   webkit-transition-timing-function: ease;
   -o-transition-timing-function: ease;
   transition-timing-function: ease;
   display:none;
}
/* override buttons for 3D effect*/
.btn-group {
   font-family: 'Raleway', sans-serif;
}

.btn{
   border-width:0 1px 4px 1px;
   border-radius:8px;
   text-shadow: .08em .08em 0em rgba(0,0,0,0.2);
   white-space:normal !important;
   /*causes word wrap for long quiz responses*/
}    
.btn:hover, .btn.active, .btn:active, .btn:focus{
   margin-top: 3px;
   padding-bottom:4px;
   border-bottom-width: 3px;
   margin-bottom:0;
   transition: all .5s;
   -webkit-transition: all .5s;
   outline:none;
}

.btn-lg:hover, .btn-lg.active, .btn-lg:active, .btn-lg:focus{
   margin-top: 2px;
   padding-bottom:7px;
   border-bottom-width: 5px;
   margin-bottom:0;
   transition: all .5s;
   -webkit-transition: all .5s;
   outline:none;
}

.btn a{
   color:white;
   text-decoration:none;
   outline:none;
}
   /*brighter color overrides for the orange buttons*/
.btn-warning{
   background-color:#EC9E2F;/*slightly brighter orange than default bootstrap*/
   border-color:#E59119;/*slightly brighter orange than default bootstrap*/
   
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus{
   border-color:#CF6803; /*slightly darker orange than default bootstrap*/
   background-color: #ec971f;/*making sure bootstrap default orange for this 
   state is applied to override my override*/
}

/* end general button overrides*/

#launcher{
   position:absolute; 
   top:45%;
   left: 3%;
}

#main{
   background-color:rgb(0, 0, 31);
   z-index:2;
   animation: fadeIn .2s linear forwards;
   -webkit-animation: myFadeIn .2s linear forwards;
}
@-webkit-keyframes fadeIn{
   from{
      opacity:0;
   }
   to{
      opacity:1;
   }
}
@keyframes fadeIn{
   from{
      opacity:0;
   }
   to{
      opacity:1;
   }
}