body{
   overflow:hidden;
   font-family: 'Marck Script', cursive;
   background-color:rgba(21, 10, 10, 0.77);
}
h1{
   font-size:1.5em;
   margin:1%;
   color:#AD0505;
}
h2{
   font-size:1.1em;
   margin:.7%;
}
h3{
   font-size:.9em;
   margin:.7%;
}
hr{
   margin:.7%;
}

#quiz-questions li, #break-questions li{
   list-style-type:none;
   /*border-bottom:1px solid gray;*/
   margin:1.7%;
   font-family:'Philosopher', sans-serif;
}
#quiz-questions, #break-questions{
   margin-top:2px;
   padding-left:5%;
}
#quiz-questions li:last-child, #break-questions li:last-child{
   border-bottom:none;
}
#quiz{
   top:2%;
}
#break-up{
   top:105%;
}
#extra{
   top:210%;
}
#main-1{
   top:325%;
}
#main-2{
   top:430%;
}
#swift-gen, #top-song{
   border-bottom:1px solid gray;
}
#swift-gen, #mood, #top-song, #break-up-main{
   height:40%;
   margin:5%;
}
#swift-gen{
   height:32%;
}
#top-song h1, #top-song select, #your-gen{
   left:9%;
   position:relative;
}
#swift-gen h1:first-child{
   left:12%;
   position:relative;
}
#swift-gen h1, #top-song h1, #break-up-main h1, #mood h1, #quiz-title h2{
   font-family:'Philosopher', sans-serif;
}

#mood{
   height:50%;
}
#break-up-main{
   border-bottom:none;
   height:40%
}
#go-break, #go-extra, #go-main{
   position:absolute;
   right:6%;
   bottom:2%;
}

.card{
   border-radius:7%;
   margin:1.5%;
   margin-bottom:8%;
   height:85%;
   width:50%;
   min-width:475px;
   left:25%;
   padding:2%;
   position:absolute;
   display:block;
   text-align:center;
   background-color: #fff1a9;
   overflow-y:auto;
   overflow-x:hidden;
   padding-right:5%;
}
#nav-1, #nav-2{
   z-index:2;
   top:5%;
   width:30%;
   margin-right:.3%;
   position:relative;
   float:right;
}
#nav-1 li, #nav-2 li{
   list-style-type:none;
}

#quiz-questions li:nth-child(even), #break-questions li:nth-child(even), #playlist li:nth-child(even), #trendlist li:nth-child(even){
   background-color:#FA926C;
}

a{
   text-decoration:none;
   color:black;
   font-weight:bold;
   font-family: 'Philosopher', sans-serif;
}

progress{
   position:absolute;
   bottom:2%;
   right:27%;
}
button{
   background-color:rgba(255, 255, 255, 0.42);
   border-radius:18px;
   padding:1%;
   padding-left:2%;
   padding-right:2%;

}
@media (max-width:768px){

   .card{
      width:90%;
      left:0%;
      height:92%;
   }

}


