body{
/*hidden overflow makes it so that we only see one .card at a time*/
   overflow-x:hidden;
   font-family: 'Marck Script', cursive;
   height: 100%;   
}

h1{
   font-size:3em;
   margin:3%;
   color:white;
    text-shadow: .08em .08em 0em rgba(0,0,0,0.2);
}
h2{
   
   margin:2%;
    color: white;
}
h3{
   font-size:.9em;
   margin:.7%;
}

hr{/* not sure the hr is necessary, but this margin gets us some extra 
breathing room when it is used*/
   margin:.7%;
}

#quiz-questions, #break-questions{
   /*Gets us some breathing room between questions */
   margin-top:2px;
   /* padding-left:3%; */
}
#quiz-questions li:last-child, #break-questions li:last-child{
/*eliminates trailing border on last questions*/
   border-bottom:none;
}
/*what follows are positioning for cards that are placed sequentially; if/when 
we move to a modal or other implementation for these sections, these will be removed*/
#quiz{
   /*top:2%;*/
}

/*end sequential card placement*/

/*#swift-gen, #top-song{
   border-bottom:1px solid gray;
}*/
#swift-gen, #mood, #top-song, #break-up-main{
/*These nudge elements around in the main section to keep them from 
a)triggering the appearance of a scrollbar and b)to fit properly on a card. The
next few rules also do this.*/
   height:40%;
   margin-left: 5%;
   margin-right: 5%;
}
#swift-gen{
   height:30%;
}
#mood{
   height:50%;
}

#break-up-main{
   border-bottom:none;
   height:40%
}
/*end section positioning*/

/* #go-break, #go-extra, #go-main{
/*position advancement buttons for consistency
   position:absolute;
   right:6%;
   bottom:2%;
} */

/*To follow: keep the nav's float from pushing these over too far to the left 
to be considered centered*/
#top-song h1, #top-song select, #your-gen{ 
   position:relative;
}
#swift-gen h1:first-child{
   position:relative;
}
/*End nav float compensation*/

#swift-gen h1, #top-song h1, #break-up-main h1, #mood h1, #quiz-title h2, #extra #questions, #playlist, #trendlist{
   font-family: 'Raleway', sans-serif;
}
#trendlist {
    top: 3vh;
}
/*These are the rules that define a card*/
.card{
   /*border-radius:7%;
   /*margin:1.5%;
   margin-bottom:4%;
   margin-top:2%; */
   height:97%;
   /* width:50%; 
   min-width:475px;
   /* left:25%; */
   /* padding:2%; */ 
   /* display:block; */
   text-align:center;
    /* Beige*/
   overflow-y:auto;
   overflow-x:hidden;
   /* padding-right:5%; */
}

.card-quiz{
    text-align: center;
    background-color: #FFEC8F;
    overflow-y:auto;
    overflow-x:hidden;
}
/*The two following rules float the two nav buttons to the right and positions
them properly in each main section card. This will need adjustment once all the
quiz questions are no longer laid out as they currently are*/
#nav-1, #nav-2{
   z-index:2;
   top:5%;
   width:30%;
   margin-right:.3%;
   position:relative;
   float:right;
}
#nav-1 li, #nav-2 li{
   list-style-type:none;
}

a{
   text-decoration:none;
   /*color:black;*/
   font-weight:bold;
   font-family: 'Philosopher', sans-serif;
}

/* progress{
/*position the progress bar so it remains consistently at the bottom of each 
quiz section. May need more styling for aesthetic reasons later
   position:absolute;
   bottom:2%;
   right:27%;
} */

 button{
/*button styling. Needs different/more future styling */
   /*background-color:#fff1ba; /*rgba(255, 255, 255, 0.42); */
  /* border-radius:18px;*/
  /* padding:1%;
   padding-left:2%;
   padding-right:2%;
   color:#E92525;
   /* border:2px solid #ff4c4c; */ 
} 
 button:hover{
  /* background-color:#ff4c4c;/*pink*/
}
 button a:link{
   /* color:#E92525; /*pink*/
}
 button a:visited{
   /* color:#E92525; /*pink*/
}
 button a:hover{
   /* color:#fff1ba; /*beige*/
}
 button a:active{
    /*color:#AD0505;/*vivid, dark red*/
}
 button a:focus{
   /* background-color:#ff4c4c;/*pink*/
   /* color:#fff1ba; /*beige*/
} 

/*smaller screen rules*/
/*@media (max-width:768px){
   .card{
      /* width:90%;
      /* left:0%; 
      
      min-width:285px;
      /*overflow-y:hidden;*/
/*overflow used here only for testing without scrollbar getting in the way*/
   }

.container-fluid{
        padding: 0;
    }


#page-1 {
    height: 100vh;
    width: 100%;
    background: url("images/pink-city.jpg") fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

#page-2 {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("images/city.jpg");
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

#swift-gen h1 {
    font-size: 5vh;
    margin-bottom: 3vh;
    color: #779ECB;
}

#swift-gen h2 {
    font-size: 3vh;
    font-family: 'Abel', sans-serif;
}

#swift-gen mark {
    color: #d65656;
    background: transparent;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

#mood h1 {
    font-size: 4.5vh;
    margin-bottom: 3vh;
    color: #779ECB;
}

#mood h2 {
    font-size: 3vh;
    font-family: 'Abel', sans-serif;
}

#main-1 {
    background-color: rgba(0,0,0,.2);
    height: 100%
}

#main-2 {
    background-color: rgba(0,0,0,.2);
    height: 100%
}

#top-song h1 {
    font-size: 5vh;
    color: #70a39c;
}

#break-up-main h1{
    font-size: 5vh;
    color: #70a39c;
}

#break-up-main mark{
    background: transparent;
    color: #ffa741;
    font-weight: 800;
}

#break-up-main h2 {
    font-size: 3vh;
    font-family: 'Abel', sans-serif;
}

#quiz-questions li:nth-child(even), #break-questions li:nth-child(even), 
#playlist li:nth-child(even){
/*Zebra striping on list elements*/
   background-color:rgba(233, 37, 37, 0.17);/*this is kind of salmon-y pink*/
}

#trendlist li:nth-child(even){
    background-color: rgba(255, 167, 65, 0.29);
    color: white;
}

#trendlist li:nth-child(odd){
    color: white;
}

#playlist li:nth-child(odd){
     color: white;
    list-style: none;
}

#playlist li:nth-child(even){
     background-color: color: rgba(112, 163, 156, 0.32);
     color: white;
    list-style: none;
}

#top-song {
    height: 40%
}

.btn-group {
    font-family: 'Raleway', sans-serif;
}
    

