body{
/*hidden overflow makes it so that we only see one .card at a time*/
   overflow-x:hidden;
   height: 100%;
   background-color: rgb(166,32,69);
   font-family: 'Raleway', sans-serif;
   color:white;
}

.modal{
   -webkit-overflow-scrolling: touch;
   overflow-y: scroll;
}

#song-mod {
   font-family: 'Raleway', sans-serif;
}

h1{
   font-size:3em;
   margin:3%;
   text-shadow: .08em .08em 0em rgba(0,0,0,0.2);
}

h2{
   margin:2%;
}

h3{
   font-size:.9em;
   margin:.7%;
}

#quiz-questions, #break-questions{
   /*Gets us some breathing room between questions */
   margin-top:2px;
   list-style: none;
   padding-left: 0;
   color: #ebebeb;
   font-family: 'Abel', sans-serif;
}

#quiz-title h1, #break-title h1 {
    font-family: 'Raleway', sans-serif;
    color: #ebebeb;
    font-weight: 100;
}

#quiz-title h2, #break-title h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #d9534f;
    text-shadow: .07em .07em 0em #6d211f;
}

#top-song, #break-up-main{
   height:40%;
   margin-left: 5%;
   margin-right: 5%;
   border-bottom:none;
}
#swift-gen{
   height:30%;
}
#mood{
   height:50%;
   
}
/*end section positioning*/

#swift-gen h1, #top-song h1, #break-up-main h1, #mood h1, #quiz-title h2, #extra #questions, #playlist, #trendlist{
   font-family: 'Raleway', sans-serif;
}
#trendlist {
   top: 3vh;
}
/*These are the rules that define a card*/
.card{
   height:97%;
   text-align:center;
   overflow-y:auto;
   overflow-x:hidden;
   background-color:rgba(150,150,150,.1);
   border-radius:18px;
}

.card-quiz{
   text-align: center;
   background-color: #2b3e50;
   overflow-y:auto;
   overflow-x:hidden;
   padding-bottom:1%;
}
a{
   text-decoration:none;
   font-weight:bold;
   font-family: 'Raleway', sans-serif;
}

.container-fluid{
   padding: 0;
}

#page-1 {
   height: 100vh;
   width: 105%; 
   background: url("images/pink-city.jpg") fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment:fixed;
   z-index:-2;
   animation: fadeIn 2.5s linear forwards;
   -webkit-animation: fadeIn 2.5s linear forwards;
   overflow-x:hidden;
}

#page-2 {
   top:200%;
   height: 100vh;
   width: 105%;
   opacity:0;
   background-color: rgba(0, 0, 0, 0.2);
   background-image: url("images/city.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: bottom;
   animation: fadeIn 2.5s ease 1s forwards;
   -webkit-animation: fadeIn 2.5s ease 1s forwards;
   z-index:2;
   position:relative;
   display:block;
   overflow-x:hidden;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

#swift-gen h1 {
   font-size: 5vh;
   margin-bottom: 3vh;
   color: #87b6eb;
}

#swift-gen mark {
   color: #d65656;
   background: transparent;
   font-weight: 800;
   font-family: 'Raleway', sans-serif;
}

#mood h1 {
   font-size: 4.5vh;
   margin-bottom: 3vh;
   color: #779ECB;
}

#mood h2, #break-up-main h2,  #swift-gen h2 {
   font-size: 3vh;
   font-family: 'Abel', sans-serif;
}

#main-1 {
   margin-top:5%;
   background-color: rgba(0,0,0,.3);
   height: 90%;
   top:0;
   position:absolute;
   z-index:3;
   display:block;
}

#main-2 {
   background-color: rgba(0,0,0,.3);
   height: 90%;
   position:relative;
   margin-top:5%;
}

#top-song h1, #break-up-main h1{
   font-size: 5vh;
   color: #70a39c;
}

#break-up-main mark{
   background: transparent;
   color: #ffa741;
   font-weight: 800;
}

#quiz-questions li:nth-child(even), #break-questions li:nth-child(even){
/*Zebra striping on list elements*/
   background-color: #4e5d6c;
}

/*Zebra striping on list elements*/
#trendlist li:nth-child(even){
   background-color: rgba(255, 167, 65, 0.29);
}

#playlist li{  
   list-style-type: none;
}

/*Zebra striping on list elements*/
#playlist li:nth-child(even){
   background-color: color: rgba(112, 163, 156, 0.32);
}

#top-song {
   height: 40%;
}

.btn-group {
   font-family: 'Raleway', sans-serif;
}

.collapsing{
   transition-duration:0s;
   -o-transition-duration:0s;
   -webkit-transition-duration:0s;
   webkit-transition-timing-function: ease;
   -o-transition-timing-function: ease;
   transition-timing-function: ease;
   display:none;
}

.btn{
   border-width:0 1px 4px 1px;
   text-transform:small-caps;
   border-radius:5px;
}    
.btn:hover, .btn.active, .btn:active, .btn:focus{
   margin-top: 3px;
   padding-bottom:4px;
   border-bottom-width: 3px;
   margin-bottom:0;
}

.btn-lg:hover, .btn-lg.active, .btn-lg:active, .btn-lg:focus{
   margin-top: 2px;
   padding-bottom:7px;
   border-bottom-width: 5px;
   margin-bottom:0;
}

button .btn {
   text-transform:small-caps!important;
}

.btn a{
   color:white;
   text-decoration:none;
   outline:none;
}

#launcher{
   position:absolute; 
   top:45%;
   left: 4%;
}

#main{
   background-color:rgb(0, 0, 31);
   z-index:2;
   animation: fadeIn .2s linear forwards;
   -webkit-animation: myFadeIn .2s linear forwards;
}

@-webkit-keyframes fadeIn{
   from{
      opacity:0;
   }
   to{
      opacity:1;
   }
}
@keyframes fadeIn{
   from{
      opacity:0;
   }
   to{
      opacity:1;
   }
}
    

